@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
	--background: hsl(0 0% 100%);
	--foreground: hsl(0 0% 3.9%);
	--card: hsl(0 0% 100%);
	--card-foreground: hsl(0 0% 3.9%);
	--popover: hsl(0 0% 100%);
	--popover-foreground: hsl(0 0% 3.9%);
	--primary: hsl(0 0% 9%);
	--primary-foreground: hsl(0 0% 98%);
	--secondary: hsl(0 0% 96.1%);
	--secondary-foreground: hsl(0 0% 9%);
	--muted: hsl(0 0% 96.1%);
	--muted-foreground: hsl(0 0% 45.1%);
	--accent: hsl(0 0% 96.1%);
	--accent-foreground: hsl(0 0% 9%);
	--destructive: hsl(0 84.2% 60.2%);
	--destructive-foreground: hsl(0 0% 98%);
	--border: hsl(0 0% 89.8%);
	--input: hsl(0 0% 89.8%);
	--ring: hsl(0 0% 3.9%);
	--radius: 0.5rem;
	--chart-1: hsl(12 76% 61%);
	--chart-2: hsl(173 58% 39%);
	--chart-3: hsl(197 37% 24%);
	--chart-4: hsl(43 74% 66%);
	--chart-5: hsl(27 87% 67%);
	--sidebar-background: hsl(0 0% 98%);
	--sidebar-foreground: hsl(240 5.3% 26.1%);
	--sidebar-primary: hsl(240 5.9% 10%);
	--sidebar-primary-foreground: hsl(0 0% 98%);
	--sidebar-accent: hsl(240 4.8% 95.9%);
	--sidebar-accent-foreground: hsl(240 5.9% 10%);
	--sidebar-border: hsl(220 13% 91%);
	--sidebar-ring: hsl(217.2 91.2% 59.8%);
	--sidebar: hsl(0 0% 98%);
}

.dark {
	--background: hsl(0 0% 3.9%);
	--foreground: hsl(0 0% 98%);
	--card: hsl(0 0% 3.9%);
	--card-foreground: hsl(0 0% 98%);
	--popover: hsl(0 0% 3.9%);
	--popover-foreground: hsl(0 0% 98%);
	--primary: hsl(0 0% 98%);
	--primary-foreground: hsl(0 0% 9%);
	--secondary: hsl(0 0% 14.9%);
	--secondary-foreground: hsl(0 0% 98%);
	--muted: hsl(0 0% 14.9%);
	--muted-foreground: hsl(0 0% 63.9%);
	--accent: hsl(0 0% 14.9%);
	--accent-foreground: hsl(0 0% 98%);
	--destructive: hsl(0 62.8% 30.6%);
	--destructive-foreground: hsl(0 0% 98%);
	--border: hsl(0 0% 14.9%);
	--input: hsl(0 0% 14.9%);
	--ring: hsl(0 0% 83.1%);
	--chart-1: hsl(220 70% 50%);
	--chart-2: hsl(160 60% 45%);
	--chart-3: hsl(30 80% 55%);
	--chart-4: hsl(280 65% 60%);
	--chart-5: hsl(340 75% 55%);
	--sidebar-background: hsl(240 5.9% 10%);
	--sidebar-foreground: hsl(240 4.8% 95.9%);
	--sidebar-primary: hsl(224.3 76.3% 48%);
	--sidebar-primary-foreground: hsl(0 0% 100%);
	--sidebar-accent: hsl(240 3.7% 15.9%);
	--sidebar-accent-foreground: hsl(240 4.8% 95.9%);
	--sidebar-border: hsl(240 3.7% 15.9%);
	--sidebar-ring: hsl(217.2 91.2% 59.8%);
	--sidebar: hsl(240 5.9% 10%);
}

@theme inline {
	--font-sans: var(--font-sans), system-ui, arial;
	--font-mono: var(--font-mono), monospace;
	--font-montserrat: var(--font-montserrat), sans-serif;

	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);

	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);

	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);

	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);

	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);

	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);

	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);

	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);

	--color-sidebar: var(--sidebar-background);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--radius-lg: var(--radius);
	--radius-md: calc(var(--radius) - 2px);
	--radius-sm: calc(var(--radius) - 4px);

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;
	--animate-orbit: orbit calc(var(--duration) * 1s) linear infinite;
	--animate-shiny-text: shiny-text 8s infinite;

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	}
	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0;
		}
	}
	@keyframes orbit {
		0% {
			transform: rotate(calc(var(--angle) * 1deg))
				translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg));
		}
		100% {
			transform: rotate(calc(var(--angle) * 1deg + 360deg))
				translateY(calc(var(--radius) * 1px))
				rotate(calc((var(--angle) * -1deg) - 360deg));
		}
	}
	@keyframes shiny-text {
		0%,
		90%,
		100% {
			background-position: calc(-100% - var(--shiny-width)) 0;
		}
		30%,
		60% {
			background-position: calc(100% + var(--shiny-width)) 0;
		}
	}
}

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
	@media (width >= --theme(--breakpoint-sm)) {
		max-width: none;
	}
	@media (width >= 1400px) {
		max-width: 1400px;
	}
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
